*{
font-size: 18px;
font-family: 'Barlow', sans-serif;
margin: 0;
width: 373;
}
body{
  margin: 0;
}
#header {
  background-image: url(/sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  background-size: cover;
  background-clip: border-box;
  height: 540px;
}


#checkbox {
  width: 60px;
  height: 60px;
  position:absolute ;
  right: 0%;
  top: 3%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

#spans{
  position: absolute;
  right: 2%;
  top: 5%;
  margin: 0 .5rem;
  z-index: 1;
}

span{
  display: block;
  background: white fixed;
  width: 22px;
  height: 1px;
  border-radius: 30px;
  margin-bottom: 6.5px;
  position: relative;
  border-radius: 3px;
  top: 3px;
  right: 5px;
}
  
label{
  opacity: 0;
}
#checkbox:checked + label{
opacity: 1;
}

#navbar{
  background: #fff;
  position: absolute;
  display: block;
  right: 8%;
  top: 14%;
  padding: .25rem 5rem;
  text-align: center;
  z-index: 2;
}
@media (max-width:425px){
  label::before{
    content: "";
    border-bottom: 30px solid white;
    border-left: 20px solid rgba(0,0,0,0);
    position: absolute;
    right: 8%;
    top: 11.1%;
  
    }
}

#navbar ul{
color: hsl(213, 9%, 39%);
list-style-type: none;
padding-left: 0px;

:hover{
  background: hwb(51 0% 2%);
  border-radius: 30px;
  color: #000;
  font-family: 'Fraunces', serif ;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;

}
}

#navbar ul li{
  padding: .75rem 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

#logo{
  margin: 2rem 1.25rem ;
}

#main-title{
  color: white;
  text-align: center;
  font-size: 39px;
  font-family: 'Fraunces', serif;
  word-spacing: 10px;
  letter-spacing: 5px;
  
}

#arrow-down{
  position: absolute;
  right: 47%;
  top: 30%;
  z-index: 1;
}

.fake-1{
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-transform.jpg);
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
}
.fake-2{
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-stand-out.jpg);
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
}
.text{
  text-align: center;
  margin: 0rem;
}
.text h2{
  font-family: 'Fraunces', serif;
  font-size: 45px;
}

.text p{
color:  hsl(232, 10%, 55%);
font-family: 'Barlow', sans-serif;
line-height: 30px;
margin: 1rem;
}

.text a{
  z-index: 1;
  font-family:'fraunces', serif ;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.text a::after{
  content: "";
  position: relative;
  background:rgba(247, 237, 149, .6392156863);
  border-radius: 5px;
  width: 30%;
  height: 6px;
  display: block;
  right: -35%;
  margin: 0;
  bottom: 6px;
  z-index: 2;

}

.secend a::after{
  background: #ff9393a3;
}

.back-img-one{
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
  height: 599px;
width: 375px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
margin: 0;
}
.back-img-tow{
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-photography.jpg);
  color: hsl(198, 62%, 26%);
  height: 599px;
width: 375px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
margin: 0;
}

.type2{
  position: relative;
  bottom: -58%;
  
}

.back-img-one p{
  color: hsl(167, 40%, 24%);
  font-size: 16px;
}

.back-img-tow p{
  color: hsl(198, 62%, 26%);
  font-size: 16px;
}

.article{
  margin-bottom: 1rem;
}

#client{
  font-family:'fraunces', serif ;
  margin: 2.5rem;
  letter-spacing: .25rem;
  color: hsl(232, 10%, 55%);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.profile img{
  border-radius: 100%;
  position: relative;
  width: 70px;
  left: 39%;
  
}

.profile p{
    margin: 1.5rem;
    text-align: center;
    font-size: 15px;
    line-height: 1.5rem;
    color: hsl(233, 7%, 51%);
   
}

.name h3{
text-align: center;
font-family: 'Fraunces', serif;
}

.name p{
  margin: 0;
  font-size: 13px;
  color:hsl(230, 18%, 75%);
}
 .name{
  margin: 1rem 0 2rem 0;
 }

 #imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 177px 177px;
}
 

 #imgs div{
  width: 100%;
  margin: 0;
 }

 #imgs div:nth-child(1){
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-repeat: no-repeat;

 }

 #imgs div:nth-child(2){
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-gallery-orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }

 #imgs div:nth-child(3){
  
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-gallery-cone.jpg);
  background-size: cover;
  background-repeat: no-repeat;

 }

 #imgs div:nth-child(4){
  background: url(/sunnyside-agency-landing-page-main/images/mobile/image-gallery-sugar-cubes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }

 #logo-end path{
  fill: hsl(167, 40%, 24%);
 }
 #logo-end{
  margin: 2rem;
 }

 footer li{
  color: hsl(167, 40%, 24%);
  list-style-type: none;
  display: inline-block;  
  cursor: pointer;
  :hover{
    color: #fff;
  }
 }
 footer ul li:nth-child(2){
  margin: 2rem;

 }
 footer{
  background: hsla(168, 34%, 41%, 0.829)  ;
  
 }

 footer div{
  position: relative;
  left: calc(50% - 4rem);
  width: 164px;
  padding: 3rem 0 3rem 0;
 }

 footer ul{
  text-align: center;
 }

 footer div svg{
  margin: .5rem;
  cursor: pointer;
 }
 
footer > div > svg > path:hover {

    fill: white;

}


 
 @media (min-width:423px){
  #header{
    background: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-position: center bottom;
  }

  #checkbox{
    cursor: auto;
  }

  label{
    opacity: 2;
  }

  #spans{
    opacity: 0;
  }

  #navbar{
    background: none;
    position: absolute;
    top: 66px;
    right: 93px;
    }
  
    #navbar ul li {
    color: white;
    font-size: 16px;
    }
    #navbar ul {
    display: flex;
    padding: 0;
    position: relative;
    top: -3rem;
    right: -8rem;
    
    :hover{
      background: rgba(255, 255, 255, 0.363);
      border-radius: 30px;
      font-family: 'Fraunces', serif ;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bolder;
      color: #fff;
    
    }
    }

    #main-title{
      position: relative;
      top: 3%;
    }

     .fake-1{
      background: url(/sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 470px;
      width: 100%;
      position: relative;
      background-position: center;
    }
     .fake-2{
      background: url(/sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 470px;
      width: 100%;
      position: relative;
      background-position: center;
 
    }

  #header {
    background-position: center bottom;
  }


#arrow-down {
  right: 50%;
}

.back-img-one{
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
background-size: cover;
width: 100%;
position: relative;
grid-row-start: 3;
background-position: center;

}
.back-img-tow{
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
background-size: cover;
position: relative;
width: 100%;
background-position: center;

}
#art-grid-style{
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows:.75fr .75fr .75fr;
}


  .fake-1 {
    grid-column-start: 2;
  }


article.article:nth-child(2) {
  grid-row-start: 1;
}

#pepole{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#imgs div:nth-child(1){
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-repeat: no-repeat;

 }

 #imgs div:nth-child(2){
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-gallery-orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }

 #imgs div:nth-child(3){
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-gallery-cone.jpg);
  background-size: cover;
  background-repeat: no-repeat;

 }

 #imgs div:nth-child(4){
  background: url(/sunnyside-agency-landing-page-main/images/desktop/image-gallery-sugarcubes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }


  #imgs {
    grid-template-rows: 358px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #logo-end{
    left: calc(50% - 5.5rem);
    position: relative;
  }

  .margin-top{
    position: relative;
    top: calc(50% - 8rem);
  }

  .margin-top p{
    margin: 2rem;
  }
 }